<p><%= @result_name %>, that's your name. This is the salary you entered: <%= @result_net_salary %>. Your family status is: <%= @result_family_status %></p>
<p>Here's your salary after taxes: <%= @sad_salary %></p>

